.myflex {
    width: auto;
    height: 50vh;
    /* border: 1px solid rgb(155, 155, 155); */
    box-shadow: 10px 10px 10px -4px rgb(197, 197, 204), inset 10px 10px 10px -5px rgb(196, 196, 202);
    border-radius: 10px;
    margin: 10rem auto;
}

.pending{
    color: inherit;
}

.red{
    color: red;
}

.green {
    color: green;
}