<div class="container">
    <div>
        <div class="d-flex flex-column justify-content-center align-items-center p-3 myflex">
            <p class="h5 m-4">
                <span class="m-2">SCORE: {{score}}</span>
                <span><button class="btn btn-default" (click)="onReset()">RESET</button></span>
                <span class="m-2">TIMER: {{timer}}</span>
            </p>
            <h4>TYPE CHALLENGER</h4>
            <div style="height:40px  !important;">
                <p style="font-size: 16px; margin-bottom: 0px;">
                    <span [class] ="compare(item,enteredText[i])" *ngFor="let item of randomText.split('');let i = index">{{item}}</span>  
                </p>
            </div>

            <input class="form-control w-auto myinput" type="text" (input)="onInput($event.target.value)" [value]="enteredText">
            <div style="height:40px  !important;">
                <p class="" *ngIf="success">Success!!</p>
            </div>
            <div>
                <span class="m-4"><button class="mybtn" (click)="onStartClick()" [disabled]="!exit_flag">START</button></span>
                <span class="m-4"> <button class="mybtn" (click)="onStopClick()">STOP</button></span>     
            </div>        
        </div>
    </div>
  </div>
